{% extends 'casino/base.html' %}
{% load static %}

{% block content %}
<div class="bets-container">
    <div class="bets-header">
        <h1>СПОРТИВНЫЕ СТАВКИ</h1>
        <div class="coming-soon">
            <h2 class="gold-text">Скоро откроемся</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    .coming-soon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .gold-text {
        color: #FFD700;
        text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
        font-size: 2.5rem;
        text-align: center;
    }
</style>
{% endblock %}

