{% extends "casino/base.html" %}
{% load static %}

{% block content %}
<div class="slots-container">

  <div class="balance-container">
    Баланс: <span id="balance">{{ player.balance }}</span>$
    <button id="add-funds" class="btn-funds">+100$</button>
  </div>

  <div class="slots-machine">
    <div class="slots-reels">
      <div id="reel1" class="slot-reel">🍒</div>
      <div id="reel2" class="slot-reel">🍋</div>
      <div id="reel3" class="slot-reel">🔔</div>
    </div>
    <div class="control-panel">
      <input type="number" id="bet-amount" class="bet-input" placeholder="Введите ставку">
      <button id="spin-slot" class="btn-spin">Крутить</button>
    </div>
    <div id="slot-message" class="slot-message"></div>
  </div>
</div>
<script src="{% static 'js/slots.js' %}"></script>
{% endblock %}
